@using TwoGirls.Core.DTOs;
@using TwoGirls.DataLayer.Entities;
@model FilterProductViewModel
@{
    Layout = null;
}
@foreach (var category in Model.Categories.Where(x => x.ParentId == null))
{
    <div class="accordion-item">
        <div class="accordion-header">
            <div class="row flex-nowrap">
                <div class="col align-self-center text-nowrap fw-bold">
                    <input type="checkbox" value="@category.Id" name="selectedCategories" checked="@( Model.SelectedCategories != null && Model.SelectedCategories.Any(id=> id == category.Id))" class="filter-control Pointer me-2 checkbox-dark">
                    <label class="checkbox-label"> @category.Name (<span class="category-count" data-category-id="@category.Id">@Model.categoryToProdycts.Count(cp => cp.CategoryId == category.Id)</span>) </label>
                </div>
                <div class="col">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#selectionAccordion@(category.Id)" aria-expanded="true" aria-controls="selectionAccordion@(category.Id)">
                    </button>
                </div>
            </div>
            
        </div>
            <div id="selectionAccordion@(category.Id)" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <ul class="list-group list-unstyled text-secondary ">
                    @foreach (var subcategory in Model.Categories.Where(x => x.ParentId == category.Id))
                    {
                        <li>
                            <input type="checkbox" value="@subcategory.Id" name="selectedCategories" checked="@( Model.SelectedCategories != null && Model.SelectedCategories.Any(id=> id == subcategory.Id))" class="filter-control Pointer me-2 checkbox-dark">
                            <label class="checkbox-label"> @subcategory.Name (<span class="category-count" data-category-id="@subcategory.Id">@Model.categoryToProdycts.Count(cp => cp.CategoryId == subcategory.Id)</span>) </label>

                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
