@model IEnumerable<twoGirlsOnlineShop.Models.Product>

@{
    ViewData["Title"] = "Index";
}
@{
    int i = 1;
}
<br />
<br />
<br />


<div class="table-responsive">

    <table class="table table-striped table-hover">
    <thead>
        <tr>
           <th  class="align-middle text-center">#</th>
            <th  class="align-middle text-center">
                Image
            </th>
            <th  class="align-middle text-center">
                Title
            </th>
            <th class="align-middle text-center">
                PurchaseDate
            </th>
            <th class="align-middle text-center">
                PurchasePrice
            </th>
            <th class="align-middle text-center">
                SalesPrice
            </th>
            <th class="align-middle text-center">
                DiscountedPrice
            </th class="align-middle text-center">
            <th class="align-middle text-center">
                QuantityInStock
            </th>
            <th  class="align-middle text-center"> 
                <a class="btn btn-success" asp-action="AddProduct" asp-controller="Admin">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                <tr >
                    <th  class="align-middle text-center">
                        @i
                    </th>
                    <td class="align-middle text-center">
                        <img src="@item?.ImagePaths.FirstOrDefault().Url.ToString()" style="max-width:120px">
                    </td>
                    <td class ="align-middle text-center">
                        <p class="h4"> @item.Title</p>
                    </td>
                    <td  class="align-middle text-center">
                        @item.PurchaseDate.ToString("d")
                    </td>
                    <td class="align-middle text-center">
                        @item.PurchasePrice.ToString("N")
                    </td>
                    <td  class="align-middle text-center">
                        @item.SalesPrice
                    </td>
                    <td  class="align-middle text-center text-danger">
                        @item.DiscountedPrice
                    </td  class="align-middle text-center">
                    <td  class="align-middle text-center">
                        @item.QuantityInStock
                    </td>
                    <td  class="align-middle text-center">
                        <a class="btn btn-primary" asp-action="EditProduct" asp-controller="Admin" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-warning" asp-action="DetailProduct" asp-controller="Admin" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-danger" asp-action="RemoveProduct" asp-controller="Admin" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
                  i++;
            }
    </tbody>
</table>
</div>
