@using TwoGirls.DataLayer.Entities;

@model IEnumerable<Category>
@{
    var productTypes = ViewData["ProductType"] as List<ProductType>;
}
<div id="myNavbar" class="">
    <div class="nav-backgroung">
        <div class="d-flex flex-row px-auto flex-wrap container-xxl">

            <!-- navbar menu  -->
            <nav class=" d-block navbar p-0 navbar-dark navbar-expand-sm order-5 order-lg-1 col-12 col-lg-8 ">
                <div id="navbarMenu" class=" collapse navbar-collapse">
                    <a asp-action="Index" asp-controller="Home" class="nav-item navbar-brand d-none d-lg-block  ps-3">
                        <img class=" nav-logo"
                             src="~/image/twogirls.png" alt="imagelogo">
                    </a>
                    <div class="navbar-nav d-flex flex-fill justify-content-around  ">

                        @foreach (var productType in productTypes)
                        {
                            string dropdownId = "dropdown" + productType.Title;
                            
                            <div>
                                <a class="nav-item nav-link text-light underline-hover-efect text-nowrap collapsed"
                                   href="#@dropdownId" data-bs-toggle="collapse" aria-expanded="false"
                                   aria-controls="dropdownEYEGLASSES">
                                    @productType.Title <i class="fa-solid fa-caret-down text-light ms-2"></i>
                                </a>
                            </div>
                        }
                       
                        <a class="nav-item nav-link text-light underline-hover-efect text-nowrap" href="#">
                            LENSES
                        </a>

                        <div id="divBRANDS" class="">
                            <a class="nav-item nav-link text-light underline-hover-efect text-nowrap collapsed"
                               href="#dropdownBRANDS" data-bs-toggle="collapse" aria-expanded="false"
                               aria-controls="dropdownBRANDS">
                                BRANDS<i class="fa-solid fa-caret-down text-light ms-2 "></i>
                            </a>
                        </div>

                        <a asp-action="index" asp-controller="Admin" class="nav-item nav-link text-light underline-hover-efect text-nowrap">
                            EYE
                            EXAM
                        </a>
                    </div>

                </div>
            </nav>
            <!-- navbar menu end  -->
            <!-- navbar searchBox  -->
            <form method="get" asp-action="Filter" asp-controller="Product" class=" order-2  d-flex  col-12 col-sm-6 col-lg-2 justify-content-end align-items-center">
                <input type="hidden" name="prodcutTypeId" value="0" />
                <div class="searchBox input-group input-group-sm  w-100  rounded shadow-sm mx-4" id="searchBox">
                    <input type="text" class="form-control border-0 my-1 p-lg-1" name="filter" placeholder=" Search...">
                    <button type="submit"
                       class="btn bg-white border-0 my-1" type="button" id="button-addon2">
                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <!-- navbar searchBox end  -->
            <!-- navbar Icons -->
            <div id="navbarIcons"
                 class=" order-1 order-sm-3 d-flex  col-12 col-sm-6 col-lg-2 justify-content-between align-items-center">

                <button class="navbar-toggler d-sm-none border-0 " type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarMenu">
                    <i class="fa-sharp fa-solid fa-bars nav-icon text-light"></i>
                </button>
                <a id="searchIcon" class="btn text-white d-sm-none">
                    <i class="fa-sharp fa-solid fa-magnifying-glass nav-icon text-light  fa-search"></i>
                </a>
                <div>
                    <a class="btn text-white " href="#" role="button" id="languageBtn" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="~/image/flag/cz.webp" class="lang-logo" alt="">
                    </a>
                    <ul id="languageDropdown" class="dropdown-menu dropdown-menu-dark bg-verydark"
                        aria-labelledby="languageBtn">
                        <li>
                            <a class="dropdown-item active" href="#">
                                <img src="~/image/flag/cz.webp"
                                     class="lang-logo" alt="">
                                Czech Republic(CZK)
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="~/image/flag/gb.webp" class="lang-logo"
                                     alt="">
                                United
                                Kingdom(ENG)
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="~/image/flag/um.webp" class="lang-logo"
                                     alt="">
                                United
                                States(ENG)
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="~/image/flag/ir.webp" class="lang-logo"
                                     alt="">
                                Iran(PER)
                            </a>
                        </li>
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div>
                        <a class="btn profile-btn text-white text-uppercase border rounded-circle" href="#" role="button" id="accountBtn" data-bs-toggle="dropdown"
                           aria-expanded="false">
                           @ViewData["username"]
                        </a>
                        <ul id="AccountDropdown" class="dropdown-menu dropdown-menu-dark bg-verydark"
                            aria-labelledby="profileBtn">
                            <li>
                                <a class="dropdown-item disabled" asp-controller="Account" asp-action="Login">
                                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Index">
                                    <i class="fa fa-user" aria-hidden="true"></i> My Account
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                    <i class="fa-solid fa-circle-xmark"></i> Logout
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-gear" aria-hidden="true"></i>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>

                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn  text-white ">
                        <i class="fa-regular fa-user nav-icon text-light "></i>
                    </a>
                }
                <img class="d-lg-none order-sm-1 nav-logo" src="~/image/twogirls.png" alt="imagelogo">
                <a asp-area="" asp-controller="Product" asp-action="Favorite" class="btn text-white position-relative">
                    <i class="fa-regular fa-heart nav-icon text-light"></i>
                    <span class="rounded-pill badge text-white">1+</span>
                </a>


                <div class="collapse-container">
                    <a href="#basketDropdown" class="position-relative btn text-white collapse-toggle" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="basketDropdown">
                        <i class="fa-brands fa-shopify nav-icon text-light"></i>
                        <span class="rounded-pill badge text-white">1+</span>
                    </a>
                    <div id="basketDropdown" class="position-absolute top-100 collapse-content collapse" aria-labelledby="basketBtn">
                        <div class="d-flex justify-content-between">
                            <div></div>
                            <div class="basket">
                                <div class="app-bar">
                                    <img src="~/image/Twogirls-logo-dark.PNG" class="logo">
                                </div>
                                <span class="title">Your cart</span>
                                <div id="update-cart-component">
                                    @await Component.InvokeAsync("CartComponent")
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- navbar Icons end -->

        </div>
    </div>
    <!-- navbar dropdowns  -->
    <div id="myGroup" class="container-xl bg-transparent">
        @foreach (var productType in productTypes)
        {
            string dropdownId = "dropdown" + productType.Title;
            <div class="collapse bg-dark" id="@dropdownId" data-bs-parent="#myGroup">

                <div class=" bg-white row d-flex m-0 ">
                    @foreach (var subCategory in Model.Where(x => x.ParentId == null))
                    {
                        <div class="p-2 col-12 col-sm-4 col-md-3">
                            <a class="fw-bolder bg-white ms-3 mb-0 collapsible">
                                @subCategory.Name <i class="fa-solid fa-caret-down d-sm-none ms-2"></i>
                            </a>
                            <ul class="list-group  p-0 list-group-flush collapscontent">
                                @foreach (var sub2Category in Model.Where(x => x.ParentId == subCategory.Id))
                                {
                                                <li class="list-group-item"><a href="@Url.Action("Filter","Product",new {prodcutTypeId = productType.Id, SelectedCategories = sub2Category.Id })"
                                        class="@((sub2Category.Name=="Discounted")? "text-danger" : "")"> @sub2Category.Name </a></li>
                                }

                            </ul>

                        </div>
                    }
                    <div class=" p-2 d-none d-md-block col-md-3">
                        <img class="img-fluid rounded-5 " src="~/image/item-one.jpg" alt="">
                        <p class="bg-white text-wrap">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                            aut!
                        </p>
                    </div>

                </div>
            </div>
        }

        <div class="collapse position-relative bg-white wrapper " id="dropdownBRANDS" data-bs-parent="#myGroup">

            <div class="overflow-hidden custom-carousel flex-nowrap row m-0 ">

                <div class="zz col-2 col-sm-1 custom-carousel-item">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/chanel.jpg" alt=""
                         draggable="false">

                </div>

                <div class=" col-2 col-sm-1 custom-carousel-item">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Dior.png" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Dolce&Gabbana.jpg"
                         alt="" draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Fendi.jpg" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Gucci.jpg" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Jimmy_Choo.png" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Louis-Vuitton.jpg"
                         alt="" draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Reyban.jpg" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item ">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Tomford.jpg" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/chanel.jpg" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item ">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Dior.png" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item ">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Dolce&Gabbana.jpg"
                         alt="" draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item ">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Fendi.jpg" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item ">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Gucci.jpg" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item ">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Jimmy_Choo.png" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item ">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Louis-Vuitton.jpg"
                         alt="" draggable="false">
                </div>


                <div class="col-2 col-sm-1 custom-carousel-item ">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Reyban.jpg" alt=""
                         draggable="false">
                </div>

                <div class="col-2 col-sm-1 custom-carousel-item ">
                    <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Tomford.jpg" alt=""
                         draggable="false">
                </div>

            </div>
        </div>
    </div>
    <!-- navbar dropdowns end -->
</div>
